body{
    background-color:cadetblue ;
}

img{
    width: 150px;
    padding: 3%;
    flex-direction: column;
    justify-content: center;
}

h1{
    font-size: 20xp;
    color: rgb(218, 50, 50);
    font-family:'Times New Roman', Times, serif;
}

p{
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-family:'Courier New', Courier, monospace;
    font-style: normal;
}

.almacen{
    display: flex;
    flex-direction: column-reverse;
    width: 50%;
    margin: 5px 0 0 350px;
    background-color: rgba(153, 117, 252, 0.61);
    border-radius: 10%;
    border-color: rgb(106, 46, 129);
    border-style:outset;
    align-items: center;
}

.caja{
    width: 45%;
    height: 35%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.caja img{
    border-radius: 50%;
    border-style:dashed;
    border-color:rgb(187, 156, 221);
}

.caja p{
    font-size: 12px;
}

.caja1{
    width: 10%;
    height: 10%;
    padding: 10%;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    image-rendering: pixelated;
}

.caja1 img{
    border-radius: 100%;
}

.caja1 h1{
    font-size: 50px;
    display: flex;
    flex-direction: row;
    align-self: center;
}
